.upload-btn {
  display: block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 10px 40px rgba(25, 104, 252, 0.2);
  background-color: #1968fc;
  border: none;
  box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
}

@media screen and (min-width: 1024px) {
  .page-header {
    width: 1120px;
    height: 50px;
    display: flex;
  }
}
.page-header__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__navigation {
    display: block;
    margin-left: auto;
  }
}
.page-header__menu-list {
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
  display: flex;
  list-style-type: none;
}
.page-header__menu-link {
  width: 120px;
  flex: 0 0 auto;
  height: 100%;
  line-height: 50px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
.page-header__menu-link:last-child {
  width: 180px;
}
.page-header__upload-btn {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-header__upload-btn {
    flex: 0 0 auto;
    display: block;
    width: 180px;
    height: 100%;
    margin-left: 20px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.logo__img {
  flex: 0 0 auto;
}
.logo__text {
  margin-left: 10px;
  flex: 0 0 auto;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1968FC;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
@media screen and (min-width: 1024px) {
  .headline {
    display: block;
    margin: 150px 160px 160px 160px;
    position: relative;
  }
}
.headline__content {
  width: 480px;
  flex: 0 0 auto;
}
@media screen and (min-width: 1024px) {
  .headline__content {
    width: 600px;
  }
}
.headline__title {
  width: 100%;
  margin: 0;
  padding-right: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 1px;
}
.headline__description {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 40px;
}
.headline__upload-btn {
  margin-top: 40px;
  width: 300px;
  height: 50px;
}
.headline__upload-btn_desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .headline__upload-btn_desktop {
    display: block;
  }
  .headline__upload-btn_mobile {
    display: none;
  }
}
.headline__illustration {
  margin-top: 80px;
  flex: 0 0 auto;
}
@media screen and (min-width: 1024px) {
  .headline__illustration {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 0;
  }
}
.headline__invitation {
  height: 180px;
  width: 100%;
  margin-top: -62px;
  margin-bottom: 0;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png);
}
@media screen and (min-width: 1024px) {
  .headline__invitation {
    display: none;
  }
}
.headline__invitation-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .reviews {
    flex-direction: row;
    justify-content: center;
    margin: 0 160px;
  }
}
.reviews__element {
  margin-top: 50px;
}
@media screen and (min-width: 1024px) {
  .reviews__element {
    margin-top: 0;
  }
  .reviews__element:last-child {
    margin-left: 40px;
  }
}

.review {
  width: 540px;
  height: 280px;
  padding: 40px;
  flex: 0 0 auto;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png) calc(100% - 32px) 40px no-repeat, #FFFFFF;
  filter: drop-shadow(0px 20px 60px rgba(25, 104, 252, 0.1));
}
.review__author {
  display: flex;
  align-items: center;
}
.review__author-name {
  font-size: 18px;
  line-height: 30px;
}
.review__author-position {
  font-size: 14px;
  line-height: 30px;
}
.review__author-information {
  margin-left: 20px;
}
.review__text {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}

.workflow {
  padding: 120px 55px 0 60px;
}
@media screen and (min-width: 1024px) {
  .workflow {
    padding: 120px 155px 0 120px;
  }
}
.workflow__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .workflow__title {
    margin: 0 0 0 40px;
  }
}
.workflow__decoration-line {
  width: 80px;
  height: 2px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #1968fc;
  box-shadow: 0px 2px 0px #D1E1FE;
}
.workflow__steps {
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .workflow__steps {
    margin: 38px 0 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .workflow__step:nth-of-type(1) {
    margin-top: 0px;
  }
  .workflow__step:nth-of-type(2) {
    margin-top: 40px;
  }
  .workflow__step:nth-of-type(3) {
    margin-top: 80px;
  }
}
.workflow__conector-line {
  width: 4px;
  height: 40px;
  flex: 0 0 auto;
  box-sizing: border-box;
  border: 2px dashed #1968fc;
  margin: 0 0 0 59px;
}
@media screen and (min-width: 1024px) {
  .workflow__conector-line {
    width: 70px;
    height: 4px;
    margin: 0;
  }
  .workflow__conector-line:nth-of-type(1) {
    margin-top: 110px;
  }
  .workflow__conector-line:nth-of-type(2) {
    margin-top: 148px;
  }
}

.workflow-step {
  width: 520px;
  height: 180px;
  padding: 40px;
  position: relative;
  flex: 0 0 auto;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .workflow-step {
    width: 325px;
    height: 225px;
  }
}
.workflow-step__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.workflow-step__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1967fa;
}
.workflow-step__description {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}
.workflow-step__illustration {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1;
}
.workflow-step__decoration {
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: 1;
}

.features {
  margin: 120px 55px 0 60px;
}
@media screen and (min-width: 1024px) {
  .features {
    margin: 120px 155px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.features__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .features__title {
    margin: 0 0 0 40px;
  }
}
.features__decoration-line {
  width: 80px;
  height: 2px;
  margin: 10px 0 0 0;
  flex: 0 0 auto;
  box-sizing: border-box;
  border: 1px solid #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
}
.features__list {
  margin-top: 48px;
}
@media screen and (min-width: 1024px) {
  .features__list {
    margin: 48px 0 0 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.features__list-item:nth-of-type(n + 2) {
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .features__list-item:nth-of-type(1) {
    margin-top: 0px;
  }
  .features__list-item:nth-of-type(2) {
    margin-left: 74px;
  }
  .features__list-item:nth-of-type(2) {
    margin-top: 40px;
  }
  .features__list-item:nth-of-type(3) {
    margin-left: 86px;
  }
  .features__list-item:nth-of-type(3) {
    margin-top: 80px;
  }
  .features__list-item:nth-of-type(4) {
    margin-left: 98px;
  }
}

.feature {
  width: 520px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .feature {
    width: 320px;
    height: 290px;
  }
}
.feature__header {
  padding-right: 5px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  background: #f3f7ff;
}
.feature__illustration {
  flex: 0 0 auto;
}
@media screen and (min-width: 1024px) {
  .feature__illustration {
    width: 120px;
    height: 120px;
  }
}
.feature__title {
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}
.feature__description {
  width: 100%;
  flex: 0 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 40px;
  font-size: 16px;
  line-height: 30px;
  background: #ffffff;
}
@media screen and (min-width: 1024px) {
  .feature__description {
    padding: 40px;
  }
}
.feature__decoration {
  position: absolute;
  bottom: -5px;
  right: -5px;
  z-index: 1;
}

.users {
  margin: 120px 60px 0 60px;
}
@media screen and (min-width: 1024px) {
  .users {
    margin: 120px 155px 0 120px;
  }
}
.users__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
.users__title_desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .users__title {
    margin: 0 0 0 40px;
  }
  .users__title_desktop {
    display: block;
  }
  .users__title_mobile {
    display: none;
  }
}
.users__decoration-line {
  width: 80px;
  height: 2px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
}
.users__list {
  margin-top: 28px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .users__list {
    margin: 38px 0 0 40px;
  }
}
@media screen and (max-width: 1023px) {
  .users__list-item:nth-child(even) {
    margin-left: 20px;
  }
  .users__list-item:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .users__list-item {
    margin-left: 20px;
  }
  .users__list-item:nth-child(3n+1) {
    margin-left: 0;
  }
  .users__list-item:nth-child(n+4) {
    margin-top: 20px;
  }
}

.user {
  width: 250px;
  height: 190px;
  padding: 20px;
  flex: 0 0 auto;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .user {
    width: 360px;
    height: 160px;
  }
}
.user__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1967fa;
}
.user__description {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 30px;
}

.purposes {
  margin: 120px 60px 60px 60px;
}
@media screen and (min-width: 1024px) {
  .purposes {
    margin: 120px;
  }
}
.purposes__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .purposes__title {
    margin: 0 0 0 40px;
  }
}
.purposes__decoration-line {
  width: 80px;
  height: 2px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #1968fc;
  box-shadow: 0px 2px 0px #d1e1fe;
}
.purposes__list {
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .purposes__list {
    margin: 38px 0 0 40px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1023px) {
  .purposes__list-item:nth-child(n+2) {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .purposes__list-item:nth-child(even) {
    margin-left: 40px;
  }
  .purposes__list-item:nth-child(n+3) {
    margin-top: 40px;
  }
}

.purpose {
  width: 520px;
  height: 80px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}
@media screen and (min-width: 1024px) {
  .purpose {
    width: 540px;
  }
}
.purpose__description {
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.consultation {
  padding: 60px;
  background: #1968FC;
}
@media screen and (min-width: 1024px) {
  .consultation {
    padding: 80px 160px 80px 120px;
    position: relative;
  }
}
.consultation__title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .consultation__title {
    display: table;
    margin: 0 0 0 40px;
  }
}
.consultation__decoration-line {
  width: 80px;
  height: 2px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 0px #6A9EFF;
}
.consultation__main-content {
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .consultation__main-content {
    margin: 48px 0 0 40px;
    width: 640px;
  }
}
.consultation__description {
  margin: 0;
  padding-right: 20px;
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}
.consultation__button {
  width: 320px;
  height: 50px;
  margin-top: 40px;
  display: block;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.4);
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #1968fc;
}
.consultation__illustration {
  display: none;
}
@media screen and (min-width: 1024px) {
  .consultation__illustration {
    display: block;
    position: absolute;
    top: 20px;
    right: 1px;
  }
}

.stories {
  padding: 60px;
  background: #ffffff;
}
@media screen and (min-width: 1024px) {
  .stories {
    padding: 120px 160px 120px 120px;
  }
}
.stories__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .stories__title {
    margin: 0 0 0 40px;
  }
}
.stories__decoration-line {
  width: 80px;
  height: 2px;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #1968fc;
  box-shadow: 0px 2px 0px #D1E1FE;
}
.stories__story-cards {
  margin-top: 38px;
}
@media screen and (min-width: 1024px) {
  .stories__story-cards {
    margin: 48px 0 0 40px;
    display: flex;
  }
}
.stories__story-card:nth-child(n+2) {
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .stories__story-card:nth-child(n+2) {
    margin-top: 0;
    margin-left: 150px;
  }
}

.story-card {
  padding-left: 60px;
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconWhoWeAre.png) 0px 4px no-repeat;
}
.story-card:nth-child(2) {
  background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconStarryNight.png) 0px 4px no-repeat;
}
@media screen and (min-width: 1024px) {
  .story-card {
    width: 480px;
    flex: 0 0 auto;
  }
}
.story-card__title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #111111;
}
.story-card__description {
  margin-top: 20px;
}
.story-card__description-paragraph {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.story-card__description-paragraph:nth-last-child(n+2) {
  margin-bottom: 20px;
}
.story-card__link {
  color: #000000;
}

.page-footer {
  width: 100%;
  height: 130px;
  padding: 40px;
  display: flex;
  align-items: center;
  position: relative;
  background: #fbfbfb;
}
@media screen and (min-width: 1024px) {
  .page-footer {
    width: calc(100% - 320px);
    padding: 40px 0;
    margin: 0 160px;
  }
}
.page-footer__navigation {
  display: none;
}
@media screen and (min-width: 1024px) {
  .page-footer__navigation {
    display: flex;
    align-items: center;
    margin: 0 0 0 70px;
    padding: 0;
    list-style-type: none;
  }
}
.page-footer__navigation-item {
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.page-footer__navigation-link {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
.page-footer__social-links {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.page-footer__social-link {
  width: 50px;
  height: 50px;
  flex: 0 0 auto;
  text-align: center;
  line-height: 50px;
  background: rgba(216, 216, 216, 0.0001);
}
.page-footer__social-link::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.page-footer__social-link:nth-child(n+2) {
  margin-left: 3px;
}
.page-footer__social-logo {
  display: inline-block;
  vertical-align: middle;
}
.page-footer__illustration {
  height: 60px;
  position: absolute;
  right: 40px;
  bottom: 0;
  filter: drop-shadow(2px 6px 12px rgba(255, 131, 51, 0.3));
}
@media screen and (min-width: 1024px) {
  .page-footer__illustration {
    height: 100px;
    right: 0px;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo > * {
  flex: 0 0 auto;
}
.footer-logo__text {
  width: 200px;
  height: 50px;
  background: rgba(25, 104, 252, 0.05);
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #1968fc;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #11223f;
}

.page {
  width: 640px;
  min-height: 100vh;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .page {
    width: 1440px;
    margin: 0 auto;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png) 0% 0% no-repeat;
  }
}
.page__header {
  padding: 40px 0 0 80px;
}
@media screen and (min-width: 1024px) {
  .page__header {
    padding: 0;
    margin: 30px 160px 0;
  }
}
.page::before {
  content: "";
  width: 100%;
  height: 3390px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, rgba(25, 104, 252, 0.0001) 0%, rgba(25, 104, 252, 0.05) 23.07%, rgba(25, 104, 252, 0.0001) 99.94%, rgba(25, 104, 252, 0.05) 100%);
}
@media screen and (min-width: 1024px) {
  .page::before {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
