@import 'variables.scss', 'breakpoints.scss', 'common-styles.scss',
  'header.scss', 'headline.scss', 'reviews.scss', 'workflow.scss',
  'features.scss', 'users.scss', 'purposes.scss', 'consultation.scss',
  'stories.scss', 'page-footer.scss';
* {
  box-sizing: border-box;
}

html {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: $text-color-initial;
}

.page {
  width: 640px;
  min-height: 100vh;
  margin: 0 auto 90px auto;
  display: flex;
  flex-direction: column;
  @include large {
    width: 1440px;
    margin: 0 auto;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/BackgroundDecor.png)
      0% 0% no-repeat;
  }
  &__header {
    padding: 40px 0 0 80px;
    @include large {
      padding: 0;
      margin: 30px 160px 0;
    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 3390px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(25, 104, 252, 0.0001) 0%,
      rgba(25, 104, 252, 0.05) 23.07%,
      rgba(25, 104, 252, 0.0001) 99.94%,
      rgba(25, 104, 252, 0.05) 100%
    );
    @include large {
      display: none;
    }
  }
}
