$text-color-initial: #11223f;
$text-color-black: #000000;
$text-color-black-light: #111111;
$text-color-blue: #1968fc;
$color-blue-light: #1967fa;
$text-color-blue-transparent: rgba(25, 103, 250, 0.8);
$text-color-navigation: #000000;
$text-color-btn: #ffffff;
$color-grey: #f3f7ff;
$color-grey-light: #f2f2f2;
$color-grey-footer: #fbfbfb;
